<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
</head>
<body>
    <header>
        <h1>Recipe Book</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
☆
{% if request.user.is_authenticated %}
    <h2>Hello, <i>{{ request.user.username }}!</i></h2>
        <form method="POST" action="'{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">LOG OUT</button>
        </form>
    {% else %}
        <h3>Please <a href="{% url 'login' %}">login.</a></h3>
{% endif %}

<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Login</button>-->
<!--</form>-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Logout</button>-->
<!--<form method="POST" action="'{% url 'logout' %}">-->

<!--</form>-->
<!--</html>-->